//
 * --------------------------------
 * 변수 Variables
 * --------------------------------
$container-width:      1200px
$container-both-width: auto

$center-box-width:    210px
$center-box-height:   280px
$center-box-bg-color: #FC414B
$center-box-fg-color: darken($center-box-bg-color, 40%)

//
 * --------------------------------
 * style.sass
 * --------------------------------

body
	margin: 0

.container
	max-width: $container-width
	margin:
		left: $container-both-width
		right: $container-both-width

.row
	&::after
		content: ''
		display: block
		clear: both
	.lt-ie8 &
		zoom: 1

.center-box
	position: absolute
	top: 50%
	left: 50%
	width: $center-box-width
	height: $center-box-height
	margin-left: (-$center-box-width/2)
	margin-top: (-$center-box-height/2)

	&.rounded
		border-radius: 50%
		height: $center-box-width
		line-height: $center-box-width


//
 * --------------------------------
 * #page

#page
	position: relative
	min-height: 100vh

h1
	overflow:    hidden
	background:  $center-box-bg-color
	color:       $center-box-fg-color
	text-align:  center
	line-height: $center-box-height