.button {
	box-sizing: border-box;
	padding: .3*2em .8em;
	background: #34c0ff;
	text-align: center;
	color: #efefef;
	text-shadow: 0 1px darken(#34c0ff, 20%);
}

.button-login {
	// .button 클래스(모듈) 상속
	@extend .button;
	background: #5A30CF;
}

.button-warnning {
	// .button 클래스(모듈)이 존재하지 않더라도
	// 오류가 발생하지 않도록 !optinal 플래그 설정
	@extend .button !optional;
	background: #FC414B;
}
