// Legacy Clearfix
.clearfix {
	&::after {
		content: '';
		display: block;
		clear: both;
	}
	.lt-ie8 & { zoom: 1; }
}

// Micro Clearfix
.cf {
	&::before,
	&::after {
		content: '';
		display: table;
	}
	&::after {
		clear: both;
	}
	.lt-ie8 & {
		zoom: 1;
	}
}