/**
 * Ghost Pseudo
 * http://css-tricks.com/centering-in-the-unknown/
 *
 * Vertical align methods. Line height, Transform, Ghost pseudo, Auto margins, Negative margins
 * https://gist.github.com/ZellSnippets/6567695
 */

// This parent can be any width and height
%center-box-block {
	text-align: center;
	// The ghost, nudged to maintain perfect centering
	:before {
	content: '';
	display: inline-block;
	height: 100%;
	vertical-align: middle;
	// Adjusts for spacing Note: This is required
	margin-right: -0.25em;
}

// The element to be centered, can also be of any width and height
%center-box-content {
		display: inline-block;
		vertical-align: middle;
		width: 300px;
	}
}

