@charset "UTF-8";
/*! style.css © yamoo9.net, 2015 */
body {
  line-height: 1;
}

#page table {
  border-collapse: collapse;
  border-spacing: 0;
}
#page table th, #page table td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
#page q, #page blockquote {
  quotes: none;
}
#page q:before, #page q:after, #page blockquote:before, #page blockquote:after {
  content: "";
  content: none;
}

nav ul, nav ol, [role=navigation] ul, [role=navigation] ol {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
}

@-webkit-keyframes bounce-top-bottom {
  0% {
    top: 0;
  }
  25% {
    top: 20px;
  }
  50% {
    top: -20px;
  }
  75% {
    top: 20px;
  }
  100% {
    top: 0;
  }
}
@-moz-keyframes bounce-top-bottom {
  0% {
    top: 0;
  }
  25% {
    top: 20px;
  }
  50% {
    top: -20px;
  }
  75% {
    top: 20px;
  }
  100% {
    top: 0;
  }
}
@-o-keyframes bounce-top-bottom {
  0% {
    top: 0;
  }
  25% {
    top: 20px;
  }
  50% {
    top: -20px;
  }
  75% {
    top: 20px;
  }
  100% {
    top: 0;
  }
}
@keyframes bounce-top-bottom {
  0% {
    top: 0;
  }
  25% {
    top: 20px;
  }
  50% {
    top: -20px;
  }
  75% {
    top: 20px;
  }
  100% {
    top: 0;
  }
}
@-webkit-keyframes fade-out {
  from {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
  }
  to {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
  }
}
@-moz-keyframes fade-out {
  from {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
  }
  to {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
  }
}
@-o-keyframes fade-out {
  from {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
  }
  to {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
  }
}
@keyframes fade-out {
  from {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
  }
  to {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
  }
}
@-webkit-keyframes fade-in {
  from {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
  }
  to {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
  }
}
@-moz-keyframes fade-in {
  from {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
  }
  to {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
  }
}
@-o-keyframes fade-in {
  from {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
  }
  to {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
  }
}
@keyframes fade-in {
  from {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
  }
  to {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
  }
}
#page {
  -moz-animation: bounce-top-bottom 2s cubic-bezier(0.55, 0.085, 0.68, 0.53) infinite both;
  -webkit-animation: bounce-top-bottom 2s cubic-bezier(0.55, 0.085, 0.68, 0.53) infinite both;
  animation: bounce-top-bottom 2s cubic-bezier(0.55, 0.085, 0.68, 0.53) infinite both;
}
#page .circle {
  border-radius: 50%;
  background-clip: padding-box;
}

.yamoo9-icon-play {
  background-image: url("images/icons/play.png");
  width: 22px;
  height: 32px;
}

.yamoo9-icon-pause {
  background-image: url("images/icons/pause.png");
  width: 32px;
  height: 12px;
}

.yamoo9-icon-stop {
  background-image: url("images/icons/stop.png");
  width: 100px;
  height: 45px;
}

.yamoo9-icon-next-frame {
  background-image: url("images/icons/next-frame.png");
  width: 12px;
  height: 14px;
}

.yamoo9-icon-prev-frame {
  background-image: url("images/icons/prev-frame.png");
  width: 14px;
  height: 20px;
}

.yamoo9-icon-auto-play {
  background-image: url("images/icons/auto-play.png");
  width: 15px;
  height: 19px;
}

.yamoo9-icon-show-me-the-money {
  background-image: url("images/icons/show-me-the-money.png");
  width: 32px;
  height: 32px;
}

.yamoo9-icon-black-sheep-wall {
  background-image: url("images/icons/black-sheep-wall.png");
  width: 132px;
  height: 132px;
}
