body {
  line-height: 1;
}

@-webkit-keyframes bounce-top-bottom {
  0% {
    top: 0;
  }
  25% {
    top: 20px;
  }
  50% {
    top: -20px;
  }
  75% {
    top: 20px;
  }
  100% {
    top: 0;
  }
}
@-moz-keyframes bounce-top-bottom {
  0% {
    top: 0;
  }
  25% {
    top: 20px;
  }
  50% {
    top: -20px;
  }
  75% {
    top: 20px;
  }
  100% {
    top: 0;
  }
}
@-o-keyframes bounce-top-bottom {
  0% {
    top: 0;
  }
  25% {
    top: 20px;
  }
  50% {
    top: -20px;
  }
  75% {
    top: 20px;
  }
  100% {
    top: 0;
  }
}
@keyframes bounce-top-bottom {
  0% {
    top: 0;
  }
  25% {
    top: 20px;
  }
  50% {
    top: -20px;
  }
  75% {
    top: 20px;
  }
  100% {
    top: 0;
  }
}
@-webkit-keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@-moz-keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@-o-keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@-webkit-keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-o-keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
#page {
  -moz-animation: bounce-top-bottom 2s cubic-bezier(0.55, 0.085, 0.68, 0.53) infinite both;
  -webkit-animation: bounce-top-bottom 2s cubic-bezier(0.55, 0.085, 0.68, 0.53) infinite both;
  animation: bounce-top-bottom 2s cubic-bezier(0.55, 0.085, 0.68, 0.53) infinite both;
}
#page table {
  border-collapse: collapse;
  border-spacing: 0;
}
#page table th, #page table td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
#page .circle {
  border-radius: 50%;
  background-clip: padding-box;
}
#page q, #page blockquote {
  quotes: none;
}
#page q:before, #page q:after, #page blockquote:before, #page blockquote:after {
  content: "";
  content: none;
}

nav ul, nav ol, [role=navigation] ul, [role=navigation] ol {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
}
