.ameba-icon-play {
  background-image: url("images/icons/play.png");
  width: 22px;
  height: 32px;
}

.ameba-icon-pause {
  background-image: url("images/icons/pause.png");
  width: 32px;
  height: 12px;
}

.ameba-icon-stop {
  background-image: url("images/icons/stop.png");
  width: 100px;
  height: 45px;
}
