// ------------------------------------------------------------
// 참고 URL: http://compass-style.org/reference/compass/support/
// ------------------------------------------------------------

// 브라우저 지원 설정
$supported-browsers: (
	"chrome",
	"ie",
	// "ie-mobile",
	"firefox"
);


// 임계치 설정 참고
// https://gist.github.com/chriseppstein/db821931dc50b624c84c
// https://gist.github.com/chriseppstein/66b89cac2c6e08fc8ce4
// 기능 향상 브라우저 사용률 임계치 설정 (1-1000)
$graceful-usage-threshold: 500; // 0.1+ -webkit-, -moz-, -o- || 5+ -webkit-
// 기능 저하 브라우저 사용률 임계치 설정 (1-1000)
$critical-usage-threshold: 0.3; // 0.3+ zoom 속성 사라짐. IE 8+

// 브라우저 최소 지원 버전 설정
$browser-minimum-versions: (
	"chrome"  : "39",
	"firefox" : "34",
	"ie"      : "11"
);

@import "compass";
@import "bourbon";

// [디버깅] 브라우저 지원 정보 출력 설정
// $debug-browser-support: true;

// @debug "$graceful-usage-threshold = #{$graceful-usage-threshold}";
// @debug "$critical-usage-threshold = #{$critical-usage-threshold}";
// @debug "$supported-browsers       = #{$supported-browsers}";
// @debug "$browser-minimum-versions = #{$browser-minimum-versions}";


// * ------------------------------------------------------------
// * 테스트
// * ------------------------------------------------------------

// @debug type-of(#{headings(2, 4)});

// .special-area {
// 	$icon: 'sprites/bg-shadow-01.png';
// 	$icon-url: image-url($icon, false, false);
// 	$icon-path: image-url($icon, true, false);
// 	// @debug $icon-path;
// 	#{headings(2, 4)} {
// 		font-weight: 100;
// 		font-size: rem(34px);
// 		background: $icon-url no-repeat;
// 		width: image-width($icon-path);
// 		height: image-height($icon-path);
// 	}
// }

$icons-list: (
	bg-shadow-01,
	bg-shadow-02,
	bg-shadow-03,
	icon-ball,
	icon-bag,
	icon-btn-drag
);

@mixin automate-image ($image-list, $folder: '', $extension: 'png') {
	@if type-of($image-list) != 'list' {
		@error "전달된 인자 값은 리스트가 아닙니다. 리스트 데이터를 전달해주세요.";
	}
	@each $image in $image-list {
		$image-string-path: '#{$folder}/#{$image}.#{$extension}';
		$image-url: image-url($image-string-path, false, false);
		$image-path: image-url($image-string-path, true, false);
		.#{$image} {
			background: $image-url no-repeat;
			width: image-width($image-path);
			height: image-height($image-path);
		}
	}
}

// @include automate-image( (
// 	icon-ball,
// 	icon-bag,
// 	icon-btn-drag,
// 	bg-shadow-01,
// 	bg-shadow-02,
// 	bg-shadow-03
// ), 'sprites' );


/**
 * --------------------------------
 * inline Image Data
 * --------------------------------
 */

// .icon-bag {
// 	// background: image-url('sprites/icon-bag.png', false, false) no-repeat;
// 	background: inline-image('sprites/icon-bag.png') no-repeat;
// }
