header h1, footer h3 {
  text-indent: -9999em;
  overflow: hidden;
}

body {
  background: url('../_/images/bg.gif?1427891097');
}

header h1 {
  width: 80px;
  height: 32px;
  background-image: url('../_/images/logo.png?1427891097');
}

footer h3 {
  width: 80px;
  height: 32px;
  background-image: url('../_/images/footer-logo.png?1427891097');
}
