/**
 * #page footer
 * --------------------------------
 */
#page {
	footer {
		height: 30vh;
		background: #FC414B;
		color: #fff;
	}

	.footer-lnb {
		@extend %cf;

		ul {
			@extend %reset-list;

			a {
				@extend %reset-a-img;
			}
		}
	}
}