// ========================================================================
// [Normalize] | 브라우저 CSS 초기화
// ========================================================================

// IE 6, 7 브라우저를 지원하는 Normalize를 사용하려면 아래 설정 값을 true로 변경합니다.
// $legacy_browser_support: true;

@import "normalize/normalize";

// ========================================================================
// [UTILS] | HELPERS가 의존하는 믹스인/함수
// ========================================================================
@import "utils/de-unit";

// ========================================================================
// [PLACEHOLDERS] | 플레이스홀더 선택자
// ========================================================================

// [클리어픽스]
// %cf, %clearfix
@import "helpers/clearfix";

// ------------------------------------------------------------------------

// [접근성]
// %a11y-hidden
// %focusable
// %hidden
// %invisible
@import "helpers/a11y";

// ------------------------------------------------------------------------

// [이미지 대체]
// %ir, %image-replace
@import "helpers/ir";

// ------------------------------------------------------------------------

// [내비게이션 설정]
// %nav, %navigation
@import "helpers/navigation";

// ------------------------------------------------------------------------

// [정 가운데 정렬 설정]
// %center-box-block, %center-box-content
@import "helpers/center-box";

// ========================================================================
// [HELPERS] | 스타일링에 도움이 되는 믹스인/함수
// ========================================================================

// px, #hexcode 대체 값을 사용할지 유무 설정
// $polyfill: false;

// ------------------------------------------------------------------------

// [px-rem] | 믹스인
// px-rem(속성, 값)
@import "helpers/px-rem";

// ------------------------------------------------------------------------

// [position] | 믹스인
// position()
// relative()
// absolute()
// fixed()
@import "helpers/position";

// ------------------------------------------------------------------------

// [margin, padding] | 믹스인
@import "helpers/margin";
@import "helpers/padding";

// ------------------------------------------------------------------------

// [제목] | 믹스인
// headings()

// 기본 제목 색상을 변경하고자 한다면 아래 색상 값을 변경합니다.
@import "helpers/headings";

// ------------------------------------------------------------------------

// [글자 크기] | font-size() 믹스인

// 기준이 되는 기본 글자 크기를 변경하고자 한다면 아래 색상 값을 변경합니다.
$base-font-size: 16px;

@import "helpers/font-size";

// ------------------------------------------------------------------------

// [글자 색상] | 믹스인|함수
// color()

// rgba() 값이 아닌, hsla() 값을 설정하려면 true로 설정합니다.
// $using-hsla: true;
// HEX 코드 설정 값에 따라 생성되는 기본 알파 값을 변경할 경우 아래 설정 값을 변경합니다. (0-1)
$base-alpha: 1;

@import "helpers/color";

// ------------------------------------------------------------------------

// [불투명도] | opacity() 믹스인
// IE6-8 브라우저에서 opacity 역할을 수행하는 filter를 사용하려면 true로 설정합니다.
$ie_6_8_support: true;
@import "helpers/opacity";

// ------------------------------------------------------------------------
// [반응형웹] | 믹스인
// hidpi()
// retina-image()
@import "helpers/hidpi";
@import "helpers/retina-image";