// -----------------------------------------------------------------------------
// Modernizr mixin
// https://github.com/danielguillan/modernizr-mixin/blob/master/stylesheets/_modernizr.scss
// -----------------------------------------------------------------------------

// +_modernizr()
=_modernizr($supports, $features...)
	$prefix: if($supports, '', 'no-')
	$selector: if($supports, '', unquote('.no-js'))

	@if not &
		@error 'Modernizr 믹스인은 선택자 내부에서 호출해야 합니다.'

	@each $feature in $features
		@if type-of($feature) != 'string'
			@error '전달한 인자 `#{$feature}`는 문자열이 아닙니다.'
		@else
			$new-selector: #{'.' + $prefix + $feature}
			$selector: if($supports, $selector + $new-selector, append($selector, $new-selector, 'comma'))

	$selector: selector-nest($selector, &)

	@at-root #{$selector}
		@content



// +yep()
=yep($features...)
	+_modernizr(true, $features...)
		@content

=yes($features...)
	+_modernizr(true, $features...)
		@content

// +nope()
=nope($features...)
	+_modernizr(false, $features...)
		@content

=no($features...)
	+_modernizr(false, $features...)
		@content