//
 * --------------------------------
 * 모듈 클래스(플레이스홀더 클래스)
 * --------------------------------

//
 * --------------------------------
 * 정렬 모듈
%align-center
	margin:
		left: auto
		right: auto

%align-right
	margin:
		left: auto

//
 * --------------------------------
 * 초기화 모듈
%reset-link
	text-decoration: none
	&:focus
		outline: none

%reset-list
	margin:
		top: 0
		bottom: 0
	padding-left: 0
	list-style: none

%reset-table
	border-collapse: collapse
	border-spacing: 0

%reset-box-model
	margin: 0
	border: 0
	padding: 0

%reset-table-cell
	text-align: left
	font-weight: normal
	vertical-align: middle

%reset-font
	font: inherit
	font-size: 100%
	vertical-align: baseline

//
 * --------------------------------
 * Float
%fl
	float: left
%fr
	float: right

//
 * --------------------------------
 * 클리어픽스
%cf
	&::after
		content: ''
		display: block
		clear: both
	.lt-ie8 &
		zoom: 1

//
 * --------------------------------
 * 내비게이션
%setting-navigation
	ul
		@extend %reset-list
		@extend %cf
	li
		@extend %fl
	a
		@extend %reset-link
