// * --------------------------------
// * Sass Framework + Library
// * --------------------------------
@import "bourbon";
@import "compass";
@import "susy";

// 사용자 정의 믹스인 & 플레이스홀더(모듈)
@import "mixins";
@import "placeholder";
@import "puma";
@import "puma_layout";

// susy 전역 설정
$susy: (
	columns: 2,
	gutters: 1/12,
	debug: (
		image: hide,
		color: rgba(#66f, .75)
	)
);


// * --------------------------------
// * 스프라이트 이미지 리스트 변수
// $one-images: (
// 	icon-map,
// 	icon-bag,
// 	icon-ball,
// 	footer-newsletter-gfx,
// 	footer-newsletter-store-locator-divider,
// );