//
 * --------------------------------
 * 이미지 대체 모듈
%ir
	overflow: hidden
	text-indent: -9999em

//
 * --------------------------------
 * Clearfix 모듈
%cf
	&::after,
	&::before
		content: ''
		display: table
	&:after
		clear: both

//
 * --------------------------------
 * 글로벌 내비게이션 모듈
%navigation
	ul
		+margin(0 null)
		padding-left: 0
		@extend %cf
		li
			list-style: none
			white-space: nowrap
			float: left
	a
		text-decoration: none