// 사용할 Compass 모듈 호출
@import "compass/utilities/srites";
@import "compass/css3/background-size";

// 스프라이트 이미지로 생성할 폴더를 sprite-map("폴더위치") 함수를 사용하여
// 각각의 변수에 참조합니다.
$sprites-standard: sprite-map("sprites/*.png");
$sprites-retina: sprite-map("sprites-retina/*.png");

// sprite-background 믹스인 정의
@mixin sprite-background($name) {
  display: block;
  // 믹스인 지역 변수 설정(재사용 목적)
  $standrad-pos: sprite-position($sprites-standard, $name);
  $standrad-file: sprite-file($sprites-standard, $name);
  $retina-pos: sprite-position($sprites-retina, $name);
  $width: image-width($standrad-file);
  $height: image-height($standrad-file);
  /*
   * 표준 디스플레이 대응
   */
  // 배경 이미지 설정: sprite-url() 함수를 사용하여 스프라이트 이미지 url을 출력합니다.
  background-image: sprite-url($sprites-standard);
  // 배경 이미지 위치 설정: 전달 받은 $name에 해당하는 위치를 출력합니다.
  background-position: $standrad-pos;
  background-repeat: no-repeat;
  // sprite-file() 함수를 사용하여 전달 받은 $name의 정보를 출력합니다.
  // image-height(), image-width() 함수를 사용하여 height, width 값을 출력합니다.
  height: $height;
  width: $width;

  /*
   * 레티나 디스플레이 대응
   */
  @media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 3/2), (min-device-pixel-ratio: 2) {
    // sprite-position() 함수를 사용하여 표준 디스플레이의 $name 위치 값과
    // 레티나 디스플레이 $name 위치 값을 비교하여 값이 동일하지 않으면 코드 실행
    @if ($standrad-pos != $retina-pos) {
      // 레티나 디스플레이 Y축 위치값 $y-pos 변수에 참조 및 설정
      $ypos: round( nth($retina-pos, 2) / 2 );
      background-position: 0 $ypos;
    }
    // CSS3 배경이미지 사이즈 적용
    // @include background-size(444px auto);
    @include background-size($width $height);
    background-image: sprite-url($sprites-retina);
  }
}

// 스프라이트 믹스인 sprite-background 사용 예.
.mail-icon {
  @include sprite-background(mail);
}