//
 * --------------------------------
 * 환경설정(_config.sass)
 * --------------------------------
$bg-color:           #003652
$selection-bg-color: lighten($bg-color, 30%)
$selection-fg-color: darken($bg-color, 30%)
$color-chip:         #7f6162
$footer-bg:          #141728


//
 * --------------------------------
 * Sass 스타일 모듈 호출
 * --------------------------------
// 공통 스타일
@import common/common

// 페이지 스타일
@import page/page

//
 * --------------------------------
 * 프린트 환경
 * --------------------------------
@media print
	@import common/part/print