/**
 * --------------------------------
 * Compass Reset
 * compass/reset
 * compass/reset/utilities
 * --------------------------------
 */
.css3-transition {
  -webkit-transition: color 300ms cubic-bezier(0.55, 0.085, 0.68, 0.53) 0.1s, background 420ms ease-in;
  -moz-transition: color 300ms cubic-bezier(0.55, 0.085, 0.68, 0.53) 0.1s, background 420ms ease-in;
  -o-transition: color 300ms cubic-bezier(0.55, 0.085, 0.68, 0.53) 0.1s, background 420ms ease-in;
  transition: color 300ms cubic-bezier(0.55, 0.085, 0.68, 0.53) 0.1s, background 420ms ease-in;
}

.compass-transition {
  -moz-transition: color 300ms cubic-bezier(0.55, 0.085, 0.68, 0.53) 0.1s, background 420ms ease-in;
  -o-transition: color 300ms cubic-bezier(0.55, 0.085, 0.68, 0.53) 0.1s, background 420ms ease-in;
  -webkit-transition: color 300ms cubic-bezier(0.55, 0.085, 0.68, 0.53), background 420ms ease-in;
  -webkit-transition-delay: 0.1s, 0s;
  transition: color 300ms cubic-bezier(0.55, 0.085, 0.68, 0.53) 0.1s, background 420ms ease-in;
}

.compass-appearance {
  -moz-appearance: button;
  -webkit-appearance: button;
}

.compass-animation {
  -moz-animation: wiggle 0.45s cubic-bezier(0.68, -0.55, 0.265, 1.55) infinite alternate backword;
  -webkit-animation: wiggle 0.45s cubic-bezier(0.68, -0.55, 0.265, 1.55) infinite alternate backword;
  animation: wiggle 0.45s cubic-bezier(0.68, -0.55, 0.265, 1.55) infinite alternate backword;
}

.compass-transform {
  -moz-transform: scale(1, 1.2) rotate(-13deg) translate(-50% -50%);
  -ms-transform: scale(1, 1.2) rotate(-13deg) translate(-50% -50%);
  -webkit-transform: scale(1, 1.2) rotate(-13deg) translate(-50% -50%);
  transform: scale(1, 1.2) rotate(-13deg) translate(-50% -50%);
}

.compass-transform3d {
  -moz-transform: scale3d(1, 1.2, 0) rotate3d(-13deg, 0deg, -45deg);
  -ms-transform: scale3d(1, 1.2, 0) rotate3d(-13deg, 0deg, -45deg);
  -webkit-transform: scale3d(1, 1.2, 0) rotate3d(-13deg, 0deg, -45deg);
  transform: scale3d(1, 1.2, 0) rotate3d(-13deg, 0deg, -45deg);
}
