//
 * --------------------------------------
 * 프로젝트 환경설정 파일 호출
 * --------------------------------------
// @import config


//
 * --------------------------------
 * Palceholder

%cf::after
	content: ''
	display: table
	clear: both

=clearfix()
	@extend %cf


//
 * --------------------------------
 * Susy 프레임워크 호출
@import susy



//
 * --------------------------------------
 * 기본 스타일
 * --------------------------------------
$pink: #fc4a54

html
	-webkit-font-smoothing: antialiased
	background: white

body
	margin: 0

#page

	// header, main, aside, footer
	> *
		padding:
			top: 1rem
			bottom: 1rem
		// background: $pink
		background: linear-gradient( rgba($pink, 0.2), rgba($pink, 0.6) ), rgba($pink, 0.4)
		background-clip: content-box, border-box
		border-bottom: 1px solid rgba($pink, 0.9)








//
 * --------------------------------------
 * Susy 그리드 시스템
 * --------------------------------------

//
 * 전역 설정
 * $susy: ()
 *
 * 단축 설정
 * layout()
 * --------------------------------------

$mobile: layout(2 1/6)
$tablet: layout(6 1/8)
$desktop: layout(16 1/6 static 3.75rem inside-static)

// $susy: (debug: (image: show) )

// @debug layout(12 (60px 20px) before)

// $susy: layout(12 (60px 20px) before)

// #page
// 	+container(show)

// 	header
// 		+span(full)


// 	main
// 		+span(first 2)

// 	aside
// 		+span(10)

// 	footer
// 		// +break
// 		+full



	// // Mobile portrait 320px+, 20rem+
	// +container(show)

	// // Mobile landscape 480px+, 30rem+
	+susy-breakpoint(30rem)
		+container(4 show)

	// // Tablet portrait 768px+, 48rem+
	// +susy-breakpoint(48rem)
	// 	+container(6 show)





//
 * 전역 Box Sizing 설정: padding-box
 * +global-box-sizing
 *
 * 전역 Box Sizing 설정: border-box
 * +border-box-sizing
 *
 * Susy 전역 설정 - global-box-sizing
 * $susy: (global-box-sizing: border-box)
 * +global-box-sizing
 * --------------------------------------
// $susy: (columns: 12, gutters: .1, gutter-position: inside, global-box-sizing: border-box)
// $susy: layout(12 0.1 inside border-box)


// +border-box-sizing

+global-box-sizing

$susy: ( column-width: 60px )

#page
	+container(1200px 12 show)
	header
		+span(full)
	main
		+span(4 of 12 inside-static)
	aside
		+span(8 of 12 last inside-static)
	footer
		+full





//
 * 패딩 고정 inside-static
 * ※ column-width 설정 필요!
 * +span()
 * --------------------------------------






//
 * 중첩 레이아웃
 * 큰 레이아웃 안에 작은 레이아웃!
 * --------------------------------------





//
 * isolate 레이아웃 테크닉
 *
 * 문제
 * http://ejohn.org/blog/sub-pixel-problems-in-css/
 *
 * 해결책
 * http://thelucid.com/2010/12/03/the-solution-to-fluid-inconsistencies-and-equal-height-columns/
 *
 * +gallery(1 of 10)
 * --------------------------------------





//
 * 비정형 레이아웃(Asymmetric Grid)
 * $susy: layout( (1 2 3 2 1) isolate show )
 * --------------------------------------





//
 * 반응형 웹 디자인 레이아웃
 *
 * 반응형 레이아웃 vs 적응형 레이아웃
 * ※ 적응형 웹이 아니라, 적응형 레이아웃입니다.
 * +susy-breakpoint($breakpoint, $layout)
 * --------------------------------------