// * --------------------------------
// * Susy2 설정
// * --------------------------------

// 글로벌 레이아웃 설정 :: 모바일
$susy: (
	columns            : 3,
	gutters            : 1/6,
	gutter-position    : after,

	container          : auto,
	container-position : center,

	math               : fluid,
	column-width       : false,

	flow               : ltr,
	last-flow          : to,
	output             : float,
	global-box-sizing  : border-box,

	debug: (
		image  : show,
		color  : rgba(#66f, .25),
		output : background,
		toggle : top right
	),

	use-custom: (
		background-image   : true,
		background-options : false,
		box-sizing         : true,
		clearfix           : false,
		rem                : true,
		breakpoint         : true,
	)
);

$bp-tablet: 720px;

$tablet: (
	// container: $bp-tablet,
	columns: 6,
	gutters: 1/3
);

$bp-desktop: 1000px;

$desktop: (
	// container: $bp-desktop,
	columns: 16,
	gutters: 1/12
);


// * --------------------------------
// * RWD
// * MF (min-width)
// * DF (max-width)
// * --------------------------------

.app {
	@include container();
	min-height: 100vh;

	@include susy-media((
		max-height: 900px,
		orientation: portrait
	)) {
		max-height: 2000px;
	}

	@include susy-breakpoint($bp-tablet, $tablet) {
		@include container(960px);
	}

	@include susy-breakpoint($bp-desktop, $desktop) {
		@include container(1300px);
	}

}



// * --------------------------------
// * AWD
// * --------------------------------
