// * --------------------------------
// * style.scss @ yamoo9.net, 2015
// * --------------------------------

// * --------------------------------
// * 주석(Comments)
// * 한 줄 주석 (CSS 변경 X)

/* 여러 줄 주석 (CSS 변경) */

// * --------------------------------
// * 중첩 규칙(Nesting Rules),
// * & 부모 참조 선택자

.container {
	// margin-left: auto;
	// margin-right: auto;
	margin: {
		left:  auto;
		right: auto;
	}

	// CSS3 RWD 미디어쿼리 구문을 선택자 내부에 작성하면
	// 해당 코드가 분리되어 선택자 밖에서 정의(선언)된다.
	@media only screen and (min-width: 1200px) {
		max-width: 1080px;
	}

	font: {
		family: 'Nanum Gothic';
		weight: 100;
		size:   32 * 2px; // Sass는 연산 처리가 가능하다. calc(32 * 2px)
	}
	header {
		background: #eaeaea;
		color: #313131;
		@media only screen and (min-width: 1200px) {
			background: #eaeaea - #012010; // 컬러 연산 (더하거나, 빼거나)
		}
		h1 {
			font-size: 1.5rem;
		}
		span {
			color: #FC414B;
			.lt-ie8 & {
				zoom: 1;
			}
			&::before,
			&::after {
				display: table;
				content: '';
			}
			&::after {
				clear: both;
			}
		}
	} // header

	nav {color: #333}
	main {color: #010101}
	footer {color: #ff0}
}

// #page nav {color: #333}
// #page main {color: #010101}
// #page footer {color: #ff0}


/**
 * button
 * --------------------------------
 */
@import "modules/button";

/**
 * clearfix, reset
 * --------------------------------
 */
@import "modules/clearfix";
@import "modules/reset";


// * --------------------------------
// * gnb
// * --------------------------------
#gnb {

	ul {
		@extend %reset-list;
		@extend %cf;
	}

	li {
		float: left;
		margin-right: 3px;
	}

	a {
		display: block;
		padding: {
			top:    0.3em;
			right:  0.6em;
			bottom: 0.2em;
			left:   0.8em;
		}
	}
}

nav ul {
	@extend %reset-list;
}

footer ol {
	@extend %reset-list;
}

aside .menu {
	@extend %cf;
}