$headings: (
	h1: 3rem,
	h2: 2rem,
	h3: 1.8rem,
	h4: 1.5rem,
	h5: 1.2rem,
	h6: 1.1rem
);

$icons-map: (
	play  : 30px 20px,
	pause : 32px 24px,
	next  : 21px 32px,
	prev  : 44px 30px,
	stop  : 90px 90px
);