html { overflow-y: visible; -webkit-font-smoothing: antialiased; text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004); }

body { margin: 0; font: 100%/1.5 "Helvetica Neue", Helvetica, Verdana, Sans-Serif; color: #202020; }

.leading-10 { background-image: linear-gradient(180deg, transparent 90%, rgba(13, 0, 38, 0.4)); background-size: 10px 10px; }

.container { width: 960px; margin-left: auto; margin-right: auto; }
.container:after { content: ""; display: block; clear: both; }
.container .fl, .container .grid-1, .container .grid-2, .container .content-headline, .container .content-banner-sale, .container .content-banner-accessories, .container .content-bag-banner-sale, .container .grid-3, .container .grid-4, .container .banner-sale, .container .banner-event, .container .grid-5, .container .grid-6, .container .content-shoes-banner, .container .grid-7, .container .grid-8 { float: left; }
.container .fr, .container .content-bag-banner-sale { float: right; }
.container .pr, .container .push-1, .container .push-2, .container .content-headline, .container .push-3, .container .push-4, .container .push-5, .container .push-6, .container .push-7, .container .push-8, .container .pull-1, .container .pull-2, .container .content-banner-sale, .container .pull-3, .container .pull-4, .container .pull-5, .container .pull-6, .container .pull-7, .container .pull-8 { position: relative; }
.container .break, .container .banner-summer, .container .content-headline, .container .footer-banner { clear: both; }
.container .grid-1 { width: 120px; }
.container .grid-2, .container .content-headline, .container .content-banner-sale, .container .content-banner-accessories, .container .content-bag-banner-sale { width: 240px; }
.container .grid-3 { width: 360px; }
.container .grid-4, .container .banner-sale, .container .banner-event { width: 480px; }
.container .grid-5 { width: 600px; }
.container .grid-6, .container .content-shoes-banner { width: 720px; }
.container .grid-7 { width: 840px; }
.container .grid-8 { width: 960px; }
.container .push-1 { left: 120px; }
.container .push-2, .container .content-headline { left: 240px; }
.container .push-3 { left: 360px; }
.container .push-4 { left: 480px; }
.container .push-5 { left: 600px; }
.container .push-6 { left: 720px; }
.container .push-7 { left: 840px; }
.container .push-8 { left: 960px; }
.container .pull-1 { left: -120px; }
.container .pull-2, .container .content-banner-sale { left: -240px; }
.container .pull-3 { left: -360px; }
.container .pull-4 { left: -480px; }
.container .pull-5 { left: -600px; }
.container .pull-6 { left: -720px; }
.container .pull-7 { left: -840px; }
.container .pull-8 { left: -960px; }

.banner-sale, .banner-event { height: 240px; }

.banner-summer { height: 120px; }

.content-headline { height: 240px; }

.content-banner-sale { height: 240px; }

.content-banner-accessories { height: 240px; }

.content-bag-banner-sale { height: 480px; }

.content-shoes-banner { height: 240px; }

.footer-banner { height: 120px; }

/*# sourceMappingURL=style.css.map */
