html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
  display: block;
}

body {
  line-height: 1;
}

ol,ul {
  list-style: none;
}

blockquote,q {
  quotes: none;
}

blockquote:before,blockquote:after,q:before,q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-size: 14px;
  line-height: 21px;
}

p {
  margin-top: 21px;
  margin-bottom: 21px;
}

h1 {
  font-size: 56px;
  line-height: 63px;
}

h2 {
  font-size: 42px;
  line-height: 63px;
}

h3 {
  font-size: 28px;
  line-height: 42px;
}

h4 {
  font-size: 21px;
  line-height: 42px;
}

h5 {
  font-size: 17px;
  line-height: 21px;
}

h6 {
  font-size: 14px;
  line-height: 21px;
}

h1,h2,h3,h4,h5,h6 {
  margin-bottom: 21px;
}

.app {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-image: -webkit-linear-gradient(left, rgba(102, 102, 255, 0.25), rgba(179, 179, 255, 0.25) 85.71429%, transparent 85.71429%), -webkit-linear-gradient(top, #000 1px, transparent 1px);
  background-image: linear-gradient(to right, rgba(102, 102, 255, 0.25), rgba(179, 179, 255, 0.25) 85.71429%, transparent 85.71429%), linear-gradient(to bottom, #000 1px, transparent 1px);
  background-size: 35%, 100% 21px;
  background-origin: content-box, border-box;
  background-clip: content-box, border-box;
  background-position: left top;
  min-height: 100vh;
}

.app:after {
  content: " ";
  display: block;
  clear: both;
}

.app-header {
  min-height: 168px;
  background: rgba(18, 13, 32, 0.5);
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
}

.app-header .box {
  width: 30%;
  float: left;
  margin-right: 5%;
  min-height: 84px;
  background: rgba(0, 0, 0, 0.3);
}

@media (min-width: 720px) {
  .app {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    background-image: -webkit-linear-gradient(left, rgba(102, 102, 255, 0.25), rgba(179, 179, 255, 0.25) 75%, transparent 75%), -webkit-linear-gradient(top, #000 1px, transparent 1px);
    background-image: linear-gradient(to right, rgba(102, 102, 255, 0.25), rgba(179, 179, 255, 0.25) 75%, transparent 75%), linear-gradient(to bottom, #000 1px, transparent 1px);
    background-size: 17.3913%, 100% 21px;
    background-origin: content-box, border-box;
    background-clip: content-box, border-box;
    background-position: left top;
  }

  .app:after {
    content: " ";
    display: block;
    clear: both;
  }

  .app-header .box {
    width: 13.04348%;
    float: left;
    margin-right: 4.34783%;
  }

  .app-header .box:last-child {
    margin-right: 0;
    background: rgba(255, 0, 0, 0.3);
  }
}

@media (min-width: 1000px) {
  .app {
    width: 1300px;
    margin-left: auto;
    margin-right: auto;
    background-image: -webkit-linear-gradient(left, rgba(102, 102, 255, 0.25), rgba(179, 179, 255, 0.25) 80%, transparent 80%), -webkit-linear-gradient(top, #000 1px, transparent 1px);
    background-image: linear-gradient(to right, rgba(102, 102, 255, 0.25), rgba(179, 179, 255, 0.25) 80%, transparent 80%), linear-gradient(to bottom, #000 1px, transparent 1px);
    background-size: 100px, 100% 21px;
    background-origin: content-box, border-box;
    background-clip: content-box, border-box;
    background-position: left top;
  }

  .app:after {
    content: " ";
    display: block;
    clear: both;
  }
}

@media (max-height: 900px) and (orientation: portrait) {
  .app {
    max-height: 2000px;
  }
}

/*# sourceMappingURL=maps/style.css.map */