@charset "UTF-8";
/**
 * --------------------------------
 * Sass :: @while ⇒ @for 변경
 * --------------------------------
 */
.grid_1, .grid_2, .grid_3, .grid_4, .grid_5, .grid_6, .grid_7, .grid_8, .grid_9, .grid_10, .grid_11, .grid_12 {
  float: left;
  margin-left: 20px;
  margin-right: 20px;
  display: inline;
}

.push_1, .pull_1, .push_2, .pull_2, .push_3, .pull_3, .push_4, .pull_4, .push_5, .pull_5, .push_6, .pull_6, .push_7, .pull_7, .push_8, .pull_8, .push_9, .pull_9, .push_10, .pull_10, .push_11, .pull_11, .push_12, .pull_12 {
  position: relative;
}

.first, .alpha {
  margin-left: 0;
}

.last, .omega {
  margin-right: 0;
}

body {
  min-width: 960px;
}

.container_12 {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

/**
 * grid_1,
 * push_1, pull_1,
 * prefix_1, suffix_1
 * --------------------------
 */
.grid_1 {
  width: 70px;
}

.push_1 {
  left: 110px;
}

.pull_1 {
  left: -110px;
}

.prefix_1 {
  padding-left: 110px;
}

.suffix_1 {
  padding-right: 110px;
}

/**
 * grid_2,
 * push_2, pull_2,
 * prefix_2, suffix_2
 * --------------------------
 */
.grid_2 {
  width: 180px;
}

.push_2 {
  left: 220px;
}

.pull_2 {
  left: -220px;
}

.prefix_2 {
  padding-left: 220px;
}

.suffix_2 {
  padding-right: 220px;
}

/**
 * grid_3,
 * push_3, pull_3,
 * prefix_3, suffix_3
 * --------------------------
 */
.grid_3 {
  width: 290px;
}

.push_3 {
  left: 330px;
}

.pull_3 {
  left: -330px;
}

.prefix_3 {
  padding-left: 330px;
}

.suffix_3 {
  padding-right: 330px;
}

/**
 * grid_4,
 * push_4, pull_4,
 * prefix_4, suffix_4
 * --------------------------
 */
.grid_4 {
  width: 400px;
}

.push_4 {
  left: 440px;
}

.pull_4 {
  left: -440px;
}

.prefix_4 {
  padding-left: 440px;
}

.suffix_4 {
  padding-right: 440px;
}

/**
 * grid_5,
 * push_5, pull_5,
 * prefix_5, suffix_5
 * --------------------------
 */
.grid_5 {
  width: 510px;
}

.push_5 {
  left: 550px;
}

.pull_5 {
  left: -550px;
}

.prefix_5 {
  padding-left: 550px;
}

.suffix_5 {
  padding-right: 550px;
}

/**
 * grid_6,
 * push_6, pull_6,
 * prefix_6, suffix_6
 * --------------------------
 */
.grid_6 {
  width: 620px;
}

.push_6 {
  left: 660px;
}

.pull_6 {
  left: -660px;
}

.prefix_6 {
  padding-left: 660px;
}

.suffix_6 {
  padding-right: 660px;
}

/**
 * grid_7,
 * push_7, pull_7,
 * prefix_7, suffix_7
 * --------------------------
 */
.grid_7 {
  width: 730px;
}

.push_7 {
  left: 770px;
}

.pull_7 {
  left: -770px;
}

.prefix_7 {
  padding-left: 770px;
}

.suffix_7 {
  padding-right: 770px;
}

/**
 * grid_8,
 * push_8, pull_8,
 * prefix_8, suffix_8
 * --------------------------
 */
.grid_8 {
  width: 840px;
}

.push_8 {
  left: 880px;
}

.pull_8 {
  left: -880px;
}

.prefix_8 {
  padding-left: 880px;
}

.suffix_8 {
  padding-right: 880px;
}

/**
 * grid_9,
 * push_9, pull_9,
 * prefix_9, suffix_9
 * --------------------------
 */
.grid_9 {
  width: 950px;
}

.push_9 {
  left: 990px;
}

.pull_9 {
  left: -990px;
}

.prefix_9 {
  padding-left: 990px;
}

.suffix_9 {
  padding-right: 990px;
}

/**
 * grid_10,
 * push_10, pull_10,
 * prefix_10, suffix_10
 * --------------------------
 */
.grid_10 {
  width: 1060px;
}

.push_10 {
  left: 1100px;
}

.pull_10 {
  left: -1100px;
}

.prefix_10 {
  padding-left: 1100px;
}

.suffix_10 {
  padding-right: 1100px;
}

/**
 * grid_11,
 * push_11, pull_11,
 * prefix_11, suffix_11
 * --------------------------
 */
.grid_11 {
  width: 1170px;
}

.push_11 {
  left: 1210px;
}

.pull_11 {
  left: -1210px;
}

.prefix_11 {
  padding-left: 1210px;
}

.suffix_11 {
  padding-right: 1210px;
}

/**
 * grid_12,
 * push_12, pull_12,
 * prefix_12, suffix_12
 * --------------------------
 */
.grid_12 {
  width: 1280px;
}

.push_12 {
  left: 1320px;
}

.pull_12 {
  left: -1320px;
}

.prefix_12 {
  padding-left: 1320px;
}

.suffix_12 {
  padding-right: 1320px;
}

/*# sourceMappingURL=gs.css.map */
