//
 * --------------------------------
 * 모듈 호출
 * --------------------------------
@import modules/vars, modules/mixins, modules/classes

//
 * --------------------------------
 * 웹폰트 모듈 호출
 * 보간법(Interpolation)
 * 사용 시, 주의할 점!
 * 보간법을 사용할 경우는 url() 사용
 * --------------------------------
@import url('http://fonts.googleapis.com/css?family=#{$webfont}')

/**
 * 문서 기본형
 * --------------------------------
 */
body
	margin: 0
	font: $base+px/1.5 $noto
	color: $text-color

a
	color: $link-color
	&:hover,
	&:focus
		color: $link-hover-color

#page

	nav
		+navigation(0.8em)

	#gnb
		+navigation(1.2rem)

	#lnb
		+navigation(20px)
