//
 * --------------------------------
 * 모듈 호출
 * --------------------------------
@import modules/vars, modules/mixins, modules/classes

//
 * --------------------------------
 * 웹폰트 모듈 호출
 * 보간법(Interpolation)
 * 사용 시, 주의할 점!
 * 보간법을 사용할 경우는 url() 사용
 * --------------------------------
@import url('http://fonts.googleapis.com/css?family=#{$webfont}')

/**
 * 문서 기본형
 * --------------------------------
 */
body
	margin: 0
	font: $base+px/1.5 $noto
	color: $text-color

	+baseline(24px)

a
	color: $link-color
	&:hover,
	&:focus
		color: $link-hover-color

+reset-html5-block

#page
	+container(960px)
	margin-top: 45px

	h1
		margin-top: 0
		margin-bottom: 0
		line-height: 1
		font-family: $noto
		font-weight: 400
		font-size: 64px

	p
		color: #8A2BE2
		margin-top: 24px
		line-height: 1.45

	footer
		table
			th, td
				@extend %reset-table-cell